@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
body {
  background-color: #f8cc02;
}

.app-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

@media screen and (max-width: 375px) {
  .app-container {
    min-height: 10vh;
    background-image: none;
    padding-top: 20px;
  }
}

.app-container button {
  text-transform: capitalize;
}

.bg-primary {
  background-color: #185999 !important;
}

.navbar {
  background-color: #185999;
}

.navbar img {
  border-style: none;
  position: relative;
  z-index: 1;
  width: 180px;
  padding-bottom: 10px;
}

@media screen and (max-width: 375px) {
  .navbar img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    padding-bottom: 40px;
  }
}

.navbar input {
  width: 400px;
  border-radius: 10px;
}

.navbar .show .d-flex {
  padding: 20px 0 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.pokemons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.pokemons .btn {
  border-radius: 20px;
  background-color: #185999;
  border: none;
}

@media screen and (max-width: 768px) {
  .pokemons {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
  .pokemons {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.loader {
  margin-top: 100px;
  width: 3rem;
  height: 3rem;
}

.hide {
  display: none;
}

.modal {
  font-family: 'Fira Sans', sans-serif;
  color: #185999;
}

.modal p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.modal img {
  min-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.modal .modal-loader-div {
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-loader-div .modal-loader {
  width: 3rem;
  height: 3rem;
}

.modal h5 {
  font-size: 2em;
  font-weight: bold;
}

.modal .close {
  font-size: 2.5em;
}

.modal .types {
  font-size: 1.5em;
  font-style: italic;
}

.modal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .hide {
  display: none !important;
}
/*# sourceMappingURL=styles.css.map */